<!DOCTYPE html>
<html lang="en">

<%- inlcude partials/header.ejs %>


<%- include partials/nav_bar.ejs %>

<%- include partials/nav_bar.ejs %>


<body> 
    <div  style = "padding:50;" > 
        <h2>  <h2 center >  Assignment 1 </h2 > 
    </div> 
    <%- body %> 
</body> 

 <!-- CSS Section -->
  <script src = "/jquery/dist/jquery.min.js"></script>
  <script src = "/bootstrap/dist/css/bootstrap.min.css"></script>
  <script src = "/Script/app.js"></script>

</html>

