<!DOCTYPE html>
<html lang="en">

<%- inlcude partials/header.ejs %>


<%- include partials/nav_bar.ejs %>
<body>
  

  <h1><%= title %></h1>
  <p>Hello world</p>

  <!-- CSS Section -->
  <script src = "/jquery/dist/jquery.min.js"></script>
  <script src = "/bootstrap/dist/css/bootstrap.min.css"></script>
  <script src = "/Script/app.js"></script>
</body>
</html>

